/* STYLESHEET FOR VIEWPORTS UP TO 499PX WIDE*/

    .arb            { font-size:100%; text-align:center; }
    #arbWordSpan    { position:relative; top:3px; }
    #createDate     { display:none; }
    .eng            { float:left; }
    .heb            { float:right; }
    .hebrew         { font-size:125%; }
    #inBanner       { width:300px; }
    #instructions   { width:310px; }
    #pTitle         { width:95%; }
    .letter         { display:none; }
    .listDiv        { width:95%; display:table; margin:1px auto; padding:4px; }
    .listDiv span   { display:inline-block; }
    #logo           { display:normal; }
    #menu           { display:none; }
	.photo		    { max-width:300px; max-height:300px; }
    #results        { width:85%; }
    .simpleDiv      { display:inline-block; width:95%; margin:1px auto;  }
    .simpleDiv span { display:inline-block; }
    #search         { width:310px; }
    #searchBox      { width:265px; }
    #searchBoxTop   { max-width:170px; }
    .table          { width:95%; }
    .tableH         { width:95%; }
    .tableHeader    { width:95%; }
    .tableStats     { font-size:small; }
    .tableWord      { width:95%; }
	#tags           { width:95%; }
    #title          { display:none; }
    #titleRight     { width:88%; }
    #titleLeft      { width:10%; }
	#wordList       { width:95%; }
    .youTube        { width:300px; height:200px; }


    .navNew { display:none; }

