/* STYLESHEET FOR ARABIC TEAM */

a:link, a:visited {color: #1988cc;}
a:hover {text-decoration: underline;}
h1 {font-size:1em; margin:0;}
h2 {margin:0px 0px 15px 0px; font-size: 1.2em;}
/* h2 {font-size:1em;} */
span {font-size:smaller;}

.box {border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px; margin-bottom: 20px; background-color: rgba(231, 237, 253, 0.25);}
.box textarea {width:98%; border:dotted 1px;}
.boxSub {  padding-top: 10px; margin-top: 10px; border-top: 1px solid rgba(0, 0, 0, 0.2);}
.boxes {width:100%; margin-bottom: 20px;}
.boxes > div {display: table-cell;min-width:200px;padding: 10px;background-color: rgba(231, 237, 253, 0.25); border: 1px solid rgba(0, 0, 0, 0.2);}
.boxes > div:first-child {border-left: 0;}
.changeDiv { border-top:1px solid rgb(205, 221, 130); padding: 10px;}
.changeTop span {}
#dashboard  { width:800px; margin:0 auto; }
.double div:nth-child(n+8) { border-bottom: 1px dotted gray; }
.field {min-width:50px;}
.hisTable { background-color: white; padding: 8px; border: 1px solid rgb(196, 201, 205); margin-top: 10px; }
.hisTable > div { padding:0 13px; }
.hisTable span { display:block; padding: 2px 4px; border-top: 1px solid rgb(208, 214, 218);}
.line {width: 100%;}
.line > div {display:inline-block;}
.line > input {width: 100%; border: 0; border-bottom: 1px dotted; background: none;}
.new { background-color:rgb(225, 245, 252);color:rgb(65, 147, 207); font-size: medium; }
.nikudHelp { width:100%; text-align: center;}
.nikudHelp, .nikudHelp2 {vertical-align: middle;}
.nikudHelp td {height: 30px; width: 30px; border: 1px dotted; background-color: rgba(204, 204, 204, 0.5);}
.nikudHelp th {font-weight: normal; border: 1px dotted; background-color: rgba(204, 204, 204, 0.5); padding: 0 4px;}
.nikudHelp2 td {font-size: 3em; min-width: 40px; text-align: center; padding-bottom: 10px; border: 1px dotted;}
.old { background-color: rgb(252, 225, 228); color: rgb(158, 92, 100);}
#page {max-width: 842px; min-width: 320px; margin: 0 auto;}
.tags > div {display: inline-block;padding:4px 8px; border: 1px dotted; margin-bottom:5px; background: white;}
.team {background:rgba(225, 226, 144, 0.36);}
#teamTools {position:fixed; top:41px; z-index:10; width:100%; margin:0; background:#F7F7C8; padding:2px 8px; border-bottom:1px solid rgb(205, 219, 234);}
.trans {text-align: center; width:100%;}
.trans td {border: 1px solid gray; padding: 3px;}
.trans td:nth-child(2) {direction: ltr;}
.trans span {display: block; font-size: small;}
.words {font-size:xx-large;border: solid 1px #ddd; padding: 0px 4px 10px 4px; background-color: white;}

@media (max-width:620px) {
    #dashboard {width: 320px;}
    .hisTable {max-width: 490px;}
    .hisTable span { display:block;}
}
        
@media (max-width:840px) {
    textarea {width:95%; min-width: 300px;}
    .box {border-width: 1px 0 0 0; margin: 0 auto; padding:5px; width: 95%;}
    .boxes {width:100%; min-width: 320px; margin: 0;}
    .boxes > div {display: block; width: 95%; padding: 5px; border-width: 1px 0 0 0; margin: 0 auto;}
    #nHelp {display: none;}
    .words {font-size:large;}
    .words input {line-height: 2;}
}

